body {
    background-color: #c8c3cd;
}

h1 {
    color: #dc199b;
    font-family: tiempos fine medium;
    font-size: 48px;
}

p {
    color: #000000;
    font-family: arial;
    font-size: 18px;
}